<div class="min-h-screen bg-cover bg-center flex flex-col items-center justify-center relative"
    style="background-image: url('assets/bg.jpg')">
    <div class="absolute top-6 right-6 md:top-9 md:right-8">
        <!-- <img src="assets/Accenture-Logo.svg" alt="Accenture Logo" class="w-32 md:w-48"> -->
    </div>

    <div class="text-center px-4 md:px-8 max-w-4xl">
        <!-- <img src="assets/Text.svg" alt="Indeed Trivia" class="w-full max-w-lg mx-auto mb-8"> -->

        <h1 class="text-3xl md:text-4xl font-bold text-white mb-4">Welcome to Indeed Trivia! 🎉✨</h1>

        <p class="text-lg md:text-xl text-white mb-6">
            Think you know it all about Indeed products, jobs, hiring trends, and the workplace? 🤔 Put your knowledge
            to the test with Indeed Trivia—a fun and engaging quiz where your knowledge could earn you bragging rights
            and exciting prizes! 🏆🎁
        </p>

        <p class="text-xl md:text-2xl font-semibold text-white mb-8">
            📢 If you get all 4-5 questions right, you stand to win an exciting prize.
        </p>

        <button href="page1.html"
            class=" bottom-40 w-56 outline outline-offset-2 outline-white outline-2 focus:ring-4 bg-white h-[5rem] rounded-lg mt-7 font-bold text-[2.5rem] text-[#4E0167] transform active:scale-90 transition-transform font-[/]"
            routerLink="/question" (click)="startQuiz()">Start
            Quiz
        </button>

    </div>
</div>






<!-- <div class="container bg-light py-5"> 
     <h1 class="display-5 fw-bold">Welocme to Quiz </h1> 
      <p class="col-md-8 fs-4">This quiz will contains total 10 questions. Each Question holds 10 Points</p>  
     <h4>Rules:</h4> 
     <ol>
        <li>Correct Question gives you 10 points</li>
        <li>Incorrect question gives to -10 points</li>
        <li>You will have 60 sec to answer each question</li>
        <li>Refereshing the page will reset the Quiz</li>
    </ol> 
    <h1 style="font-family: cursive;text-align:center">All the best!!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter your Email:</label>
        <input #name type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start the Quiz!!</button>
</div>-->